@model IEnumerable<Library.Library.Entities.ViewModels.BookVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title text-center">
    <span class="menu-toggle">
        <span class="icon-box-toggle">
            <span>
                <i class="fal fa-horizontal-rule icon-line-top"></i>
                <i class="fal fa-horizontal-rule icon-line-center"></i>
                <i class="fal fa-horizontal-rule icon-line-bottom"></i>
            </span>
        </span>
    </span>
    <div class="title-wrap">
        <h1 class="title">List Book</h1>
    </div>
</div>

<div class="page-content-inner">
    <div>
        <div class="list-flex-toolbar">
            <div class="search">
                <div class="control">
                    <input class="input" type="text" placeholder="Search...">
                    <div class="form-icon" data-v-aad2da70=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1.1em" height="1.1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:search" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><path d="M21 21l-4.35-4.35"></path></g></svg></div>
                </div>
            </div>
            <div class="button">
                <a asp-action="Create" class="v-button is-primary is-elevated">
                    <span class="icon">
                        <i class="far fa-plus"></i>
                    </span>
                    <span>Add Books</span>
                </a>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-table-header">
                <span class="is-grow-2">Ảnh bìa</span>
                <span>Nhà xuất bản</span>
                <span>Số lượng</span>
                <span>Mã thư viện</span>
                <span>Số ngày mượn</span>
                <span class="call-end">actions</span>
            </div>

            @foreach (var item in Model)
            {
                <div class="flex-list-inner">
                    <div>
                        <div class="flex-table-item">
                            <div class="flex-table-cell is-media is-grow2">
                                <div class="is-avatar is-medium">
                                    <img class="medium" src="@item.Thumbnail" alt="">
                                </div>
                                <div>
                                    <span class="item-name">@item.Name</span>
                                    <span class="item-meta">
                                        <span>Tác giả: @item.Author</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-table-cell">
                                <span class="light-text">@item.PublishingCompany</span>
                            </div>

                            <div class="flex-table-cell">
                                <span class="light-text">@item.Amount</span>
                            </div>
                            <div class="flex-table-cell">
                                <span class="light-text">@item.IdLibraryCode</span>
                            </div>
                            <div class="flex-table-cell">
                                <span class="light-text">@item.DateCanBorrow Ngày</span>
                            </div>
                            <div class="flex-table-cell call-end">
                                <div class="icon-action">
                                    <a class="" asp-action="Edit" asp-route-id="@item.Id"><i class="fal fa-wrench"></i></a>
                                </div>
                                <span class="span-seperate">|</span>
                                <div class="icon-action">
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fal fa-info-circle"></i></a>
                                </div>
                                <span class="span-seperate">|</span>
                                <div class="icon-action">
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fal fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
