@using Library.Library.Entities
@model Library.Library.Entities.Requests.UserRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title text-center">
    <span class="menu-toggle">
        <span class="icon-box-toggle">
            <span>
                <i class="fal fa-horizontal-rule icon-line-top"></i>
                <i class="fal fa-horizontal-rule icon-line-center"></i>
                <i class="fal fa-horizontal-rule icon-line-bottom"></i>
            </span>
        </span>
    </span>
    <div class="title-wrap">
        <h1 class="title">Create Account</h1>
    </div>
</div>

<div class="page-content-inner">

    <!-- Form create -->
    <form asp-action="Create" method="post" enctype="multipart/form-data" class="form-layout">
        <div class="form-outer">
            <div class="form-header">
                <div class="form-header-inner">
                    <div class="left">
                        <h3>Create Account</h3>
                    </div>
                    <div class="right">
                        <div class="buttons">
                            <a asp-action="Index" class="button v-button is-dark-outline">
                                <div class="icon">
                                    <i class="far fa-long-arrow-alt-left"></i>
                                </div>
                                <span>Cancel</span>
                            </a>
                            <button type="submit" class="button v-button is-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4>Personal Info</h4>
                        <p>This helps us to know you</p>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label>Full Name</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Nickname">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:user" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Phone Number</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="PhoneNumber">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:smartphone" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><path d="M12 18h.01"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Email</label>
                                <div class="control has-icon">
                                    <input type="email" class="input" asp-for="Email">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Address</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Address">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Date of Birth ( Month - Day - Year )</label>
                                <div class="control has-icon">
                                    <input class="input" asp-for="Dob">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:calendar" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><path d="M16 2v4"></path><path d="M8 2v4"></path><path d="M3 10h18"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Sex</label>
                                <div class="control">
                                    <div class="switch-block input">
                                        <label for="switch-block-1" class="form-switch">
                                            <input type="checkbox" id="switch-block-1" class="is-switch" asp-for="sex">
                                            <i></i>
                                        </label>
                                        <div class="text">
                                            <span class="text-librarian">Male</span>
                                            <span>&nbsp; | &nbsp;</span>
                                            <span class="text-admin">Female</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Choose Avatar</label>
                                <div class="control has-icon">
                                    <input type="file" class="choose-file" asp-for="Avatar">
                                    <span><Label for="choose-file"></Label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4>Personal Account</h4>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label>User Name</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Username">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:user" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Password</label>
                                <div class="control has-icon">
                                    <input type="password" class="input" asp-for="Password">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:lock" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Role</label>
                                <div class="control">
                                    <select class="input" aria-label="Default select example" name="IdRole">
                                        @{
                                            var roles = (List<Role>)ViewBag.Roles;
                                            foreach (var role in roles)
                                            {
                                                <option value="@role.Id">@role.Name</option>
                                            }
                                        }
                                    </select>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg class="icon-role" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users-cog" class="svg-inline--fa fa-users-cog fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M610.5 341.3c2.6-14.1 2.6-28.5 0-42.6l25.8-14.9c3-1.7 4.3-5.2 3.3-8.5-6.7-21.6-18.2-41.2-33.2-57.4-2.3-2.5-6-3.1-9-1.4l-25.8 14.9c-10.9-9.3-23.4-16.5-36.9-21.3v-29.8c0-3.4-2.4-6.4-5.7-7.1-22.3-5-45-4.8-66.2 0-3.3.7-5.7 3.7-5.7 7.1v29.8c-13.5 4.8-26 12-36.9 21.3l-25.8-14.9c-2.9-1.7-6.7-1.1-9 1.4-15 16.2-26.5 35.8-33.2 57.4-1 3.3.4 6.8 3.3 8.5l25.8 14.9c-2.6 14.1-2.6 28.5 0 42.6l-25.8 14.9c-3 1.7-4.3 5.2-3.3 8.5 6.7 21.6 18.2 41.1 33.2 57.4 2.3 2.5 6 3.1 9 1.4l25.8-14.9c10.9 9.3 23.4 16.5 36.9 21.3v29.8c0 3.4 2.4 6.4 5.7 7.1 22.3 5 45 4.8 66.2 0 3.3-.7 5.7-3.7 5.7-7.1v-29.8c13.5-4.8 26-12 36.9-21.3l25.8 14.9c2.9 1.7 6.7 1.1 9-1.4 15-16.2 26.5-35.8 33.2-57.4 1-3.3-.4-6.8-3.3-8.5l-25.8-14.9zM496 368.5c-26.8 0-48.5-21.8-48.5-48.5s21.8-48.5 48.5-48.5 48.5 21.8 48.5 48.5-21.7 48.5-48.5 48.5zM96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm224 32c1.9 0 3.7-.5 5.6-.6 8.3-21.7 20.5-42.1 36.3-59.2 7.4-8 17.9-12.6 28.9-12.6 6.9 0 13.7 1.8 19.6 5.3l7.9 4.6c.8-.5 1.6-.9 2.4-1.4 7-14.6 11.2-30.8 11.2-48 0-61.9-50.1-112-112-112S208 82.1 208 144c0 61.9 50.1 112 112 112zm105.2 194.5c-2.3-1.2-4.6-2.6-6.8-3.9-8.2 4.8-15.3 9.8-27.5 9.8-10.9 0-21.4-4.6-28.9-12.6-18.3-19.8-32.3-43.9-40.2-69.6-10.7-34.5 24.9-49.7 25.8-50.3-.1-2.6-.1-5.2 0-7.8l-7.9-4.6c-3.8-2.2-7-5-9.8-8.1-3.3.2-6.5.6-9.8.6-24.6 0-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h255.4c-3.7-6-6.2-12.8-6.2-20.3v-9.2zM173.1 274.6C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"></path></svg>
                                    </div>
                                    @*<div class="switch-block input">
            <label for="switch-block-2" class="form-switch">
                <input type="checkbox" id="switch-block-2" class="is-switch">
                <i></i>
            </label>
            <div class="text">
                <span class="text-librarian">Librarian</span>
                <span>&nbsp; | &nbsp;</span>
                <span class="text-admin">Admin</span>
            </div>
        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Repeat Password</label>
                                <div class="control has-icon">
                                    <input type="password" class="input" asp-for="ConfirmPassword">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:lock" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nickname" class="control-label"></label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input asp-for="Avatar" class="form-control" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="sex" /> @Html.DisplayNameFor(model => model.sex)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <select class="form-select" aria-label="Default select example" name="IdRole">
                    @{
                        var roles = (List<Role>)ViewBag.Roles;
                        foreach (var role in roles)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    }
                </select>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
