@using System.Data
@using Library.Library.Entities
@model Library.Library.Entities.Requests.UserRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="page-title text-center">
<span class="menu-toggle">
    <span class="icon-box-toggle">
        <span>
            <i class="fal fa-horizontal-rule icon-line-top"></i>
            <i class="fal fa-horizontal-rule icon-line-center"></i>
            <i class="fal fa-horizontal-rule icon-line-bottom"></i>
        </span>
    </span>
</span>
<div class="title-wrap">
    <h1 class="title">Edit Account</h1>
</div>
</div>

<div class="page-content-inner">

    <!-- Form create -->
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="form-layout">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Id" class="form-control" hidden />
        <div class="form-outer">
            <div class="form-header">
                <div class="form-header-inner">
                    <div class="left">
                        <h3>Edit Account</h3>
                    </div>
                    <div class="right">
                        <div class="buttons">
                            <a asp-action="Index" class="button v-button is-dark-outline">
                                <div class="icon">
                                    <i class="far fa-long-arrow-alt-left"></i>
                                </div>
                                <span>Cancel</span>
                            </a>
                            <button type="submit" value="Save" class="button v-button is-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4>Personal Info</h4>
                        <p>This helps us to know you</p>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label>Full Name</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" placeholder="" autocomplete="given-name">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:user" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Phone Number</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" placeholder="" autocomplete="given-name">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:smartphone" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><path d="M12 18h.01"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Email</label>
                                <div class="control has-icon">
                                    <input type="email" class="input" placeholder="" autocomplete="given-name">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Address</label>
                                <div class="control has-icon">
                                    <input type="email" class="input" placeholder="" autocomplete="given-name">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Date of Birth ( Month - Day - Year )</label>
                                <div class="control has-icon">
                                    <input type="text" value="" class="input date-of-birth">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:calendar" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><path d="M16 2v4"></path><path d="M8 2v4"></path><path d="M3 10h18"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Sex</label>
                                <div class="control">
                                    <div class="switch-block input">
                                        <label for="switch-block-1" class="form-switch">
                                            <input type="checkbox" id="switch-block-1" class="is-switch">
                                            <i></i>
                                        </label>
                                        <div class="text">
                                            <span class="text-librarian">Male</span>
                                            <span>&nbsp; | &nbsp;</span>
                                            <span class="text-admin">Female</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Choose Avatar</label>
                                <div class="control has-icon">
                                    <input type="file" value="" class="choose-file">
                                    <span><Label for="choose-file"></Label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4>Personal Account</h4>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label>User Name</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" placeholder="">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:user" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Password</label>
                                <div class="control has-icon">
                                    <input type="password" class="input" placeholder="">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:lock" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Role</label>
                                <div class="control has-icon">
                                    <div class="switch-block input">
                                        <label for="switch-block-2" class="form-switch">
                                            <input type="checkbox" id="switch-block-2" class="is-switch">
                                            <i></i>
                                        </label>
                                        <div class="text">
                                            <span class="text-librarian">Librarian</span>
                                            <span>&nbsp; | &nbsp;</span>
                                            <span class="text-admin">Admin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Repeat Password</label>
                                <div class="control has-icon">
                                    <input type="password" class="input" placeholder="">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:lock" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!--  -->
    <!--  -->
</div>

@*<h1>Edit</h1>

    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" hidden />

                <div class="form-group">
                    <label asp-for="Nickname" class="control-label"></label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input asp-for="Avatar" class="form-control" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="sex" /> @Html.DisplayNameFor(model => model.sex)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger" ></span>
                </div>
                <p>Bỏ trống nếu không muốn thay đổi mật khẩu</p>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" data-val="false"/>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" data-val="false"/>
                </div>
                <select class="form-select" aria-label="Default select example" name="IdRole">
                    @{
                        var roles = (List<Role>)ViewBag.Roles;
                        foreach (var role in roles)
                        {
                            if (Model.IdRole == role.Id)
                            {
                                <option value="@role.Id" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    }
                </select>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
