@model (Library.Library.Entities.Requests.UserRequest, List<Library.Library.Entities.Role>)

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Item1.Id" class="form-control" hidden />

            <div class="form-group">
                <label asp-for="Item1.Nickname" class="control-label"></label>
                <input asp-for="Item1.Nickname" class="form-control" />
                <span asp-validation-for="Item1.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Avatar" class="control-label"></label>
                <input asp-for="Item1.Avatar" class="form-control" />
                <span asp-validation-for="Item1.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Dob" class="control-label"></label>
                <input asp-for="Item1.Dob" class="form-control" />
                <span asp-validation-for="Item1.Dob" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item1.sex" /> @Html.DisplayNameFor(model => model.Item1.sex)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Address" class="control-label"></label>
                <input asp-for="Item1.Address" class="form-control" />
                <span asp-validation-for="Item1.Address" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Item1.Id" />
            <div class="form-group">
                <label asp-for="Item1.Username" class="control-label"></label>
                <input asp-for="Item1.Username" class="form-control" />
                <span asp-validation-for="Item1.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Email" class="control-label"></label>
                <input asp-for="Item1.Email" class="form-control" />
                <span asp-validation-for="Item1.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.PhoneNumber" class="control-label"></label>
                <input asp-for="Item1.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Item1.PhoneNumber" class="text-danger" ></span>
            </div>
            <p>Bỏ trống nếu không muốn thay đổi mật khẩu</p>
            <div class="form-group">
                <label asp-for="Item1.Password" class="control-label"></label>
                <input asp-for="Item1.Password" class="form-control" data-val="false"/>
            </div>
            <div class="form-group">
                <label asp-for="Item1.ConfirmPassword" class="control-label"></label>
                <input asp-for="Item1.ConfirmPassword" class="form-control" data-val="false"/>
            </div>
            <select class="form-select" aria-label="Default select example" name="IdRole">
                @{
                    foreach (var role in Model.Item2)
                    {
                        if (Model.Item1.IdRole == role.Id)
                        {
                            <option value="@role.Id" selected>@role.Name</option>
                        }
                        else
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    }
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
