@model IEnumerable<Library.Library.Entities.ViewModels.UserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title text-center">
    <span class="menu-toggle">
        <span class="icon-box-toggle">
            <span>
                <i class="fal fa-horizontal-rule icon-line-top"></i>
                <i class="fal fa-horizontal-rule icon-line-center"></i>
                <i class="fal fa-horizontal-rule icon-line-bottom"></i>
            </span>
        </span>
    </span>
    <div class="title-wrap">
        <h1 class="title">List Account</h1>
    </div>
</div>

<div class="page-content-inner">
    <div>
        <div class="list-flex-toolbar">
            <div class="search">
                <div class="control">
                    <input class="input" type="text" placeholder="Search...">
                    <div class="form-icon" data-v-aad2da70=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1.1em" height="1.1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:search" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><path d="M21 21l-4.35-4.35"></path></g></svg></div>
                </div>
            </div>
            <div class="button">
                <a asp-action="Create" class="v-button is-primary is-elevated">
                    <span class="icon">
                        <i class="far fa-plus"></i>
                    </span>
                    <span>Add User</span>
                </a>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-table-header">
                <span class="is-grow-2">User</span>
                <span>Email</span>
                <span>@Html.DisplayNameFor(model => model.RoleName)</span>
                <span>@Html.DisplayNameFor(model => model.Username)</span>
                <span>@Html.DisplayNameFor(model => model.Address)</span>
                <span class="call-end">actions</span>
            </div>

            @foreach (var item in Model)
            {
                <div class="flex-list-inner">
                    <div>
                        <div class="flex-table-item">
                            <div class="flex-table-cell is-media is-grow2">
                                <div class="is-avatar is-medium">
                                    <img class="avatar" src="@item.Avatar" alt="">
                                </div>
                                <div>
                                    <span class="item-name">@Html.DisplayFor(modelItem => item.Nickname)</span>
                                    <span class="item-meta">
                                        <span>@Html.DisplayFor(modelItem => item.PhoneNumber)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-table-cell">
                                <span class="light-text">@Html.DisplayFor(modelItem => item.Email)</span>
                            </div>

                            @if (item.RoleName.ToLower() != "admin")
                            {
                                <div class="flex-table-cell">
                                    <span class="is-success tag" style="background: #10785d; ">@Html.DisplayFor(modelItem => item.RoleName)</span>
                                </div>
                            }
                            else
                            {
                                <div class="flex-table-cell">
                                    <span class="is-success tag">@Html.DisplayFor(modelItem => item.RoleName)</span>
                                </div>
                            }

                            <div class="flex-table-cell">
                                <span class="light-text"> @Html.DisplayFor(modelItem => item.Username)</span>
                            </div>
                            <div class="flex-table-cell">
                                <span class="light-text"> @Html.DisplayFor(modelItem => item.Address)</span>
                            </div>
                            <div class="flex-table-cell call-end">
                                <div class="">
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fal fa-wrench"></i></a> |
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fal fa-info-circle"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fal fa-trash-alt"></i></a>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div> 

