@using Library.Library.Entities.ViewModels
@model StatisticalVM

<style>
    .smart-table {
        width: 800px;
        height: 600px;
    }

    .smart-button {
        cursor: pointer;
        margin-top: 15px;
    }

    .smart-button img {
        width: 50px;
        height: 50px;

    }

    .options {
        width: 50px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 10px;
        top: 10px;
    }

    .button-hint-export {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .button-hint-export:hover {
        border-color: #10cb8a;
        color: #10cb8a;
    }

    .button-hint-export::after {
        border-radius: 100px !important;
        font-size: 1rem !important;
        text-transform: uppercase !important;
        line-height: 12px;
        white-space: nowrap;
        background: #383838;
        color: white;
        padding: 8px 10px;
        font-weight: 600 !important;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0;
    }

    .button-hint-export[data-hint]::after {
        content: attr(data-hint);
        position: absolute;
        -webkit-transform: translateX(-50%) translateY(15px);
        transform: translateX(-50%) translateY(15px);

        @*bottom:100%;left:50%;*@
    }

    .button-hint-export:hover::after {
        @*-webkit-transform:translateX(-100%)translateY(0px);*@transform: translateX(-155%) translateY(15px);
        -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
        visibility: visible;
        opacity: 1;
        background: #10cb8a;
    }

    .export-header {
        padding: 20px 0;
    }

    .btn-export {
        margin-top: 1rem;
        width: 60px;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5rem;
        border: .1rem solid #3f3f44;
        background: #3b3b40;
        white-space: nowrap;
        color: #a2a5b9;
        border: .1rem solid;
        margin-left: 10px;
    }

    .btn-export:hover {
        border-color: #10cb8a;
        color: #10cb8a;
    }

    label {
        font-size: 1.5rem;
        margin: 0 10px;
    }
</style>
<link rel="stylesheet" href="/css/smart.default.css">


<div class="export-header">
    <label for="choose">Chọn Loại Thống Kê</label>
    <select name="choose" id="type_export">
        <option value="borrowed">Sách Đã Mượn</option>
        <option value="borrowing">Sách Đang Mượn</option>
        <option value="return">Sách Đã Trả</option>
        <option value="missing">Sách Mất</option>
        <option value="libraryCard">Thẻ Thư Viện</option>


    </select>
    <form action="/Statistical/export" method="get">
        <label for="date-start">Ngày Bắt Đầu</label>
        <input type="date" name="date-start" id="date-start" value="@ViewData["start"]">
        <label for="date-end">Ngày Kết Thúc</label>
        <input type="date" name="date-end" id="date-end" value="@ViewData["end"]">
        <button class="btn-export">Lọc</button>
    </form>

</div>

<!--Sách đã mượn-->
<span>Sách đã mượn</span>

<smart-table id="e-table-borrowed" class="table-hover" auto-load-state auto-save-state column-resize column-reorder
    auto-save-state>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Số lượng đã mượn</th>
                <th>Thời gian mượn</th>
                <th>Thời gian trả</th>
                <th>Người mượn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BooksBorrowed)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.StatisticalAmount</td>
                    <td>@item.TimeBorrowed</td>
                    <td>@item.TimeReturn</td>
                    <td>@item.LibraryCard.Name</td>
                </tr>
            }

        </tbody>
    </table>
</smart-table>
<!--End [Sách đã mượn]-->
<!--Sách đã đang mượn-->
<span>Sách đã đang mượn</span>

<smart-table id="e-table-borrowing" class="table-hover" auto-load-state auto-save-state column-resize column-reorder
    auto-save-state>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Số lượng đã mượn</th>
                <th>Thời gian mượn</th>
                <th>Thời gian trả</th>
                <th>Người mượn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BooksBorrowing)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.StatisticalAmount</td>
                    <td>@item.TimeBorrowed</td>
                    <td>@item.TimeReturn</td>
                    <td>@item.LibraryCard.Name</td>
                </tr>
            }

        </tbody>
    </table>
</smart-table>
<!--End [Sách đang mượn]-->
<!--Sách đã trả-->
<span>Sách đã trả</span>

<smart-table id="e-table-borrowing" class="table-hover" auto-load-state auto-save-state column-resize column-reorder
    auto-save-state>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Số lượng đã mượn</th>
                <th>Thời gian mượn</th>
                <th>Thời gian trả</th>
                <th>Người mượn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BooksReturn)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.StatisticalAmount</td>
                    <td>@item.TimeBorrowed</td>
                    <td>@item.TimeReturn</td>
                    <td>@item.LibraryCard.Name</td>
                </tr>
            }

        </tbody>
    </table>
</smart-table>
<!--End [Sách đã trả]-->
<!--Sách bị mất-->
<span>Sách bị mất</span>
<smart-table id="e-table-borrowing" class="table-hover" auto-load-state auto-save-state column-resize column-reorder
    auto-save-state>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Số lượng đã mượn</th>
                <th>Thời gian mượn</th>
                <th>Thời gian trả</th>
                <th>Người mượn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BooksMissing)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.StatisticalAmount</td>
                    <td>@item.TimeBorrowed</td>
                    <td>@item.TimeReturn</td>
                    <td>@item.LibraryCard.Name</td>
                </tr>
            }

        </tbody>
    </table>
</smart-table>
<!--End [Sách bị mất]-->
<!--Top thẻ mượn-->
<span>Top thẻ mượn</span>
<smart-table id="e-table-borrowing" class="table-hover" auto-load-state auto-save-state column-resize column-reorder
    auto-save-state>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>MSSV</th>
                <th>Lớp</th>
                <th>Đẳng cấp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TopLibraryCards)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.MSSV</td>
                    <td>@item.Class</td>
                    <td>@item.Rank</td>
                </tr>
            }

        </tbody>
    </table>
</smart-table>
<!--End [Top thẻ mượn]-->

<div class="options">
    <div class="smart-button button-hint-export" data-hint="Xuất File CSV" id="csv">
        <img src="/public/csv-file.svg">
    </div>

    <div class="smart-button button-hint-export" data-hint="Xuất File HTML" id="html">
        <img src="/public/html-file.svg">
    </div>

    <div class="smart-button button-hint-export" data-hint="Xuất File JSON" id="json">
        <img src="/public/json-file.svg">
    </div>

    <div class="smart-button button-hint-export" data-hint="Xuất File PDF" id="pdf">
        <img src="/public/pdf-file.svg">
    </div>

    <div class="smart-button button-hint-export" data-hint="Xuất File EXCEL" id="xlsx">
        <img src="/public/xlsx-file.svg">
    </div>

    <div class="smart-button button-hint-export" data-hint="Xuất File XML" id="xml">
        <img src="/public/xml-file.svg">
    </div>
</div>


<script src="/js/export/jszip.min.js"></script>
<script src="/js/export/pdfmake.min.js"></script>
<script src="/js/export/smart.table.js"></script>
<script src="/js/export/vfs_fonts.js"></script>
@section Scripts{

<script>
    //const table = document.querySelector('smart-table');
    //table.autoSaveState = true;
    var isTable = "e-table-borrowed";
    $("#type_export").addEventListener("change",
        (e) => {
            switch (e.target.value) {
                case "borrowed":
                    isTable = "e-table-borrowed";
                    break;
                case "borrowing":
                    isTable = "e-table-borrowing";
                    break;
                case "return":
                    isTable = "e-table-return";
                    break;
                case "missing":
                    isTable = "e-table-missing";
                    break;
                case "libraryCard":
                    isTable = "e-table-libraryCard";
                    break;
                default:
                    isTable = "e-table-borrowed";
            }
        });

    function whatTable(format, name) {
        var table = document.getElementById(isTable);
        table.exportData(format, name);
    }
    document.getElementById('csv').addEventListener('click', function () {
        whatTable('csv', 'table');
    });
    document.getElementById('html').addEventListener('click', function () {
        whatTable('html', 'table');
    });
    document.getElementById('json').addEventListener('click', function () {
        whatTable('json', 'table');
    });
    document.getElementById('pdf').addEventListener('click', function () {
        whatTable('pdf', 'table');
    });

    document.getElementById('xlsx').addEventListener('click', function () {
        whatTable('xlsx', 'table');
    });
    document.getElementById('xml').addEventListener('click', function () {
        whatTable('xml', 'table');
    });

</script>

}
