@using Library.Library.Entities
@model List<(LibraryCard card, List<BookInBorrow> bibs)>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .collapsible {
        background-color: #222225;
        color:  white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 5px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content-collapse {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #39393b;
        border-radius: 5px;
        margin-top:5px;
    }
</style>

@foreach (var item in Model) {
    <button type="button" class="collapsible">
        <span>
            @item.card.Class > @item.card.MSSV > @item.card.Name > 
            <a href="Borrows/ReturnBook?idCard=@item.card.Id" class="button i-button b-success">
                <span>Trả Sách</span>
            </a>
        </span>
    </button>
    <div class="content-collapse">

        <div class="page-content-inner">
            <div>
                <div class="flex-table">
                    <div class="flex-table-header">
                        <span class="is-grow-2">Ảnh bìa</span>
                        <span>Số lượng mượn</span>
                        <span>Số lượng đã trả</span>
                        <span>Thời gian mượn</span>
                        <span>Thời gian trả</span>
                    </div>

                    @foreach (var bib in item.bibs) {
                        <div class="flex-list-inner">
                            <div>
                                <div class="flex-table-item">
                                    <div class="flex-table-cell is-media is-grow2">
                                        <div class="is-avatar is-medium">
                                            <img class="medium" src="@bib.Book.Thumbnail" alt="">
                                        </div>
                                        <div>
                                            <span class="item-name">@bib.Book.Name</span>
                                            <span class="item-meta">
                                                <span>Tác giả: @bib.Book.Author</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.AmountBorrowed</span>
                                    </div>

                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.AmountReturn</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.TimeBorrowed</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.TimeReturn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>


    </div>

}



@section Scripts{
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
}