@using Library.Library.Entities
@using Library.Library.Enums
@model List<(LibraryCard card, (Borrow borrow, List<BookInBorrow> bibs) details)>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .collapsible {
        background-color: #222225;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 5px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .content-collapse {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #39393b;
        border-radius: 5px;
        margin-top: 5px;
    }

    .btn-export {
        width: 60px;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5rem;
        border: .1rem solid #3f3f44;
        background: #3b3b40;
        white-space: nowrap;
        color: #a2a5b9;
        border: .1rem solid;
        margin-left: 10px;
    }

    .btn-export:hover {
        border-color: #10cb8a;
        color: #10cb8a;
    }
</style>

@foreach (var item in Model)
{
    <button type="button" class="collapsible">
        <span>
            @item.card.Name | Lớp: @item.card.Class | Mssv: @item.card.MSSV | Thời gian mượn:
            @item.details.borrow.DateBorrow |
            Số Lượng: @item.details.borrow.AmountBorrow |
            @switch (item.details.borrow.StatusBorrow)
            {
                case StatusBorrow.NotEnough:
                    <span>Chưa trả đủ</span>
                    break;
                case StatusBorrow.Borrowing:
                    <span>Chưa trả cuốn nào</span>
                    break;
                case StatusBorrow.Missing:
                    <span>Làm mất</span>
                    break;

            }

            @if (ViewData["borrow-on"] != null)
            {
                <a href="Borrows/ReturnBook?idCard=@item.card.Id&&idBorrow=@item.details.borrow.Id" class="btn-export">
                    <span>Trả Sách</span>
                </a>
            }
            else
            {
                <a href="Borrows/ReturnBook?idCard=@item.card.Id" class="btn-export">
                    <span>Trả Sách</span>
                </a>
            }
        </span>
    </button>
    <div class="content-collapse">

        <div class="page-content-inner">
            <div>
                <div class="flex-table">
                    <div class="flex-table-header">
                        <span class="is-grow-2">Ảnh bìa</span>
                        <span>Số lượng mượn</span>
                        <span>Số lượng đã trả</span>
                        <span>Thời gian mượn</span>
                        <span>Thời gian trả</span>
                    </div>

                    @foreach (var bib in item.details.bibs)
                    {
                        <div class="flex-list-inner">
                            <div>
                                <div class="flex-table-item">
                                    <div class="flex-table-cell is-media is-grow2">
                                        <div class="is-avatar is-medium">
                                            <img class="medium" src="@bib.Book.Thumbnail" alt="">
                                        </div>
                                        <div>
                                            <span class="item-name">@bib.Book.Name</span>
                                            <span class="item-meta">
                                                <span>Tác giả: @bib.Book.Author</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.AmountBorrowed</span>
                                    </div>

                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.AmountReturn</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.TimeBorrowed</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.TimeReturn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>


    </div>

}



@section Scripts{
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
}