@using Library.Library.Entities.ViewModels
@model ReturnBookVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Return book</h1>

<div class="page-content-inner">
         <!-- //////////////// -->

    <div class="card-grid">
        <div class="columns is-multiline">
            <div class="column is-6">
                <div class="card-item">
                    <div class="card-item-body">
                        <div class="card-item-body-left">
                            <div class="c-avatar is-big">
                                <img class="avatar" src="@Model.LibraryCard.Image" alt="">
                            </div>
                            <div class="meta">
                                <span>MSSV: @Model.LibraryCard.MSSV</span>
                                <span>LỚP: @Model.LibraryCard.Class</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-item-footer">
                        <div class="left">
                            <div class="exp">
                                <span>EXP</span>
                                <span>@Model.LibraryCard.Exp</span>
                            </div>
                            <div class="progress-bar">
                                <progress class="progress is-tiny" max="100" value="@Model.LibraryCard.Exp"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="content-collapse">

    <div class="page-content-inner">
        <div>
            <div class="flex-table">
                <div class="flex-table-header">
                    <span class="is-grow-2">Ảnh bìa</span>
                    <span>Số lượng mượn</span>
                    <span>Tình trạng</span>
                    <span>Thời gian mượn</span>
                    <span>Thời gian trả</span>
                </div>
                <form>
                    <input asp-for="@Model.IdBorrow" name="IdBorrow" value="@Model.IdBorrow" hidden />
                    <input asp-for="@Model.IdCard" name="IdCard" value="@Model.IdCard" hidden />
                    @*<select asp-for="@Model.LibraryCard.Id" name="IdCard" class="form-control" asp-items="ViewBag.IdCard"></select>*@
                    <button type="submit">Trả toàn bộ Sách (chưa hoạt động)</button>
                </form>
                    @foreach (var bib in Model.BookInBorrows)
                    {
                        <div class="flex-list-inner">
                            <div>
                                <div class="flex-table-item">
                                    <div class="flex-table-cell is-media is-grow2">
                                        <div class="is-avatar is-medium">
                                            <img class="medium" src="@bib.Book.Thumbnail" alt="">
                                        </div>
                                        <div>
                                            <span class="item-name">@bib.Book.Name</span>
                                            <span class="item-meta"><span>Tác giả: @bib.Book.Author</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.Book.StatusBook</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.TimeBorrowed</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <span class="light-text">@bib.AmountBorrowed</span>
                                    </div>
                                    <div class="flex-table-cell">
                                        <form asp-action="ReturnBook" method="post" class="form-layout">
                                            <input asp-for="@bib." type="number" name="AmountReturn" class="light-text" min="0" max="@bib.AmountBorrowed" />

                                            <input asp-for="@bib.AmountBorrowed" type="number" name="AmountReturn" class="light-text" min="0" max="@bib.AmountBorrowed" hidden/>
                                            <input asp-for="@bib.IdBook" name="IdBook" class="light-text" value="@bib.IdBook" hidden />
                                            <input asp-for="@bib.IdBorrow" name="IdBook" class="light-text" value="@bib.IdBook" hidden />
                                            <input asp-for="@Model.IdCard" name="IdCard" value="@Model.IdCard" hidden />
                                            <input asp-for="@Model.IdBorrow" name="IdBorrow" value="@Model.IdBorrow" hidden />
                                            
                                            <button type="submit">Trả</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


            </div>
        </div>
    </div>


</div>




@section Scripts{
    <script>

    </script>
}