@model Library.Library.Entities.LibraryCode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title text-center">
    <span class="menu-toggle">
        <span class="icon-box-toggle">
            <span>
                <i class="fal fa-horizontal-rule icon-line-top"></i>
                <i class="fal fa-horizontal-rule icon-line-center"></i>
                <i class="fal fa-horizontal-rule icon-line-bottom"></i>
            </span>
        </span>
    </span>
    <div class="title-wrap">
        <h1 class="title">Thông Tin Chi Tiết</h1>
    </div>
</div>

<div class="page-content-inner">

    <form asp-action="Edit" class="form-layout">
        <div class="form-outer">
            <div class="form-header">
                <div class="form-header-inner">
                    <div class="left">
                        <h3></h3>
                    </div>
                    <div class="right">
                        <div class="buttons">
                            <a asp-action="Index" class="button v-button is-dark-outline">
                                <div class="icon">
                                    <i class="far fa-long-arrow-alt-left"></i>
                                </div>
                                <span>Quay Lại</span>
                            </a>
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="button v-button is-primary">Đến Trang
                                Sửa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4></h4>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <div class="field">
                                <label>Tên</label>
                                <div class="control has-icon">
                                    <input asp-for="Name" class="input" readonly>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            class="iconify iconify--feather" width="1em" height="1em"
                                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                                            data-icon="feather:user" data-v-aad2da70="">
                                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>ID</label>
                                <div class="control has-icon">
                                    <input asp-for="Id" class="input" readonly>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            class="iconify iconify--feather" width="1em" height="1em"
                                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                                            data-icon="feather:user" data-v-aad2da70="">
                                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Viết Tắt</label>
                                <div class="control has-icon">
                                    <input asp-for="Abbreviation" class="input" readonly>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            class="iconify iconify--feather" width="1em" height="1em"
                                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                                            data-icon="feather:user" data-v-aad2da70="">
                                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="field">
                                <label>Mô tả</label>
                                <div class="control">
                                    <textarea asp-for="Description" class="textarea" rows="4" autocomplete="off"
                                        autocapitalize="off" spellcheck="true" readonly></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>

</div>


@*<h1>Details</h1>

    <div>
    <h4>LibraryCode</h4>
    <hr />
    <dl class="row">
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Abbreviation)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Abbreviation)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Description)
    </dd>
    </dl>
    </div>
    <div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div>*@
